body {
  display: flex;
  width: 1440px;
  height: 1024px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Ethiopic", sans-serif;
}

.container {
  background: #292e33;
  width: 500px;
  height: 700px;
  border-radius: 50px;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 85px;
  margin: 113px 50px 55px 50px;
  justify-content: center;
}

.login {
  grid-column: 1/ -1;
  height: 65px;
  width: 400px;
  text-align: center;
  margin-bottom: 80px;
  border-radius: 50px;
}

.senha {
  grid-column: 1/-1;
  height: 65px;
  text-align: center;
  margin-bottom: 80px;
  border-radius: 50px;
}

::placeholder {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #67737e;
}

.cadastro {
  position: relative;
  grid-column: 1/-1;
  height: 65px;
  text-align: center;
  margin-top: 112px;
  border-radius: 50px;
  color: #fff;
  background: #e20000;
}

.entrar p,
.cadastro p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Sans Ethiopic", sans-serif;
  text-transform: uppercase;
}

.cadastro::before {
  display: flex;
  content: "";
  display: block;
  width: 400px;
  height: 2px;
  background: #dadde125;
  position: absolute;
  top: -50px;
  right: 3px;
}

.entrar {
  height: 65px;
  width: 160px;
  border-radius: 50px;
  color: #fff;
  background: #e20000;
}

.text {
  text-align: start;
  align-self: center;
  text-decoration: none;
  font-size: 18px;
  color: #e20000;
}
